<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h2>Street Art</h2>
    <ul>
        {% for image in object_list %}
            <li>{{ image.name }} |
            <a href="{% url 'images:image_detail' image.id %}"><img src="{{ image.image.url}}" style="display: block; width: 60px;"/></a> |
            {{ image.description}} | 
            {{ image.city }}
            </li>
        {% empty %}
            <li>There´s no images in the list</li>
        {% endfor %}
    </ul>
    <a href="/create_place">Upload Photo</a>
    <a href="/map">Near You</a>
    <a href="/logout">Logout</a>
</body>
</html>